<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.redbeet.s3.board.notice.NoticeDAO">
	

	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		select * from
    (select rownum R, N.* from 
        (select * from notice where 
			<choose>
				<when test="type=='Name'">
					name
				</when>
				<when test="type=='Subject'">
					subject
				</when>
				<otherwise>
					content
				</otherwise>
			</choose>
		 like '%'||#{search}||'%' and num>0 order by num) N)
        where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="getTotalCount" resultType="java.lang.Long" parameterType="Pager">
		select count(num) from notice
		where 
			<choose>
				<when test="type=='Writer'">
					writer
				</when>
				<when test="type=='Subject'">
					subject
				</when>
				<otherwise>
					content
				</otherwise>
			</choose>
			like '%'||#{search}||'%' and num>0
	</select>

	<select id="getSelect" parameterType="BoardDTO" resultMap="selectResult">
		select N.*, NF.*
		from notice N left join noticeFiles NF
		on N.num = NF.num
		where N.num=#{num}
	</select>
	
	<resultMap type="NoticeDTO" id="selectResult">
		<id property="num" column="num"/>
		<result property="Subject" column="subject"/>
		<result property="Name" column="name"/>
		<result property="regdate" column="regdate"/>
		<result property="hit" column="hit"/>
		<result property="Content" column="content"/>
		<collection property="boardFiles" javaType="java.util.List" ofType="BoardFileDTO">
			<id property="fileNum" column="fileNum"/>
			<result property="fileName" column="fileName"/>
			<result property="originName" column="originName"/>
		</collection>
	</resultMap>
	
	<insert id="setInsert" parameterType="BoardDTO">
		insert into notice values (#{num}, #{subject}, '관리자', #{content}, sysdate, 0)
	</insert>
	
	<insert id="setFileInsert" parameterType="BoardFileDTO">
		insert into noticeFiles values (file_seq.nextval, #{num}, #{fileName}, #{originName})
	</insert>
	
	<select id="getNum" resultType="java.lang.Long">
		select ntc_seq.nextval from dual
	</select>
	
	<update id="setUpdate" parameterType="BoardDTO">
		update notice set subject=#{subject}, content=#{content} where num=#{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardDTO">
		delete notice where num=#{num}
	</delete>

	<update id="setHitUpdate" parameterType="BoardDTO">
		update notice set hit= hit+1 where num=#{num}
	</update>
	
	<delete id="setFileDelete" parameterType="BoardFileDTO">
		delete noticeFiles where fileNum=#{fileNum}
	</delete>
	
	<select id="getFileSelect" parameterType="BoardFileDTO" resultType="BoardFileDTO">
		select * from noticeFiles where fileNum=#{fileNum}
	</select>

</mapper>